/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.flex{
  display:flex;
  flex-wrap: wrap
}

.shoping-cart{
  justify-content: space-between;
  background-color: aquamarine;
  padding: 25px 25px;
}

.product_item{
  padding: 30px;
}

@media screen and (min-width:775px) {
  .flex{
    display: grid;
    grid-template-columns: 1fr  ;
    /* place-items: center;
    height: auto; */
  }
}
@media screen and (min-width:1000px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center;
    height: auto; */
  }
}

@media screen and (max-width:774px) {
  .flex{
      display: grid;
      grid-template-columns: 1fr ;
      /* place-items: center;
      height: auto; */
  }
}

@media screen and (min-width:1180px){
  .flex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

.button{
  display: flex;
  width: 250px;
}

.title{
  width: 200px;
}
 .author{
  width: 200px;
 }

 .price{
  width: 200px;
 }

 input{
  height :30px;
  width: 25%;
  font-size: 10px;
 }



 .box{
  display: grid;
  text-align: center;
 }